body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #434455;
}

ul,
ol {
  list-style: none;
}

.header-container {
  background-color: white;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #2e2f42;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.logo-accent {
  color: #4d5ae5;
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
}

.nav-link {
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.contact-link {
  text-decoration: none;
  color: #434455;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.benefits-item,
.portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.benefits-descr,
.portfolio-item-descr,
.footer-container-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.member-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero {
  background-color: #2e2f42;
  color: white;
}

.hero h1 {
  text-align: center;
}

.button {
  background-color: #4d5ae5;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.team {
  background-color: #f4f4fd;
}

.team-card {
  background-color: white;
}

.footer-container {
  background-color: #2e2f42;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-container .logo {
  color: #f4f4fd;
}
