body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #434455;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
}

.header-page {
  padding: 24px 0;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid #e7e9fc;
}

.header-page .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #2e2f42;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.logo-accent {
  color: #4d5ae5;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
}

.nav-link {
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.contacts-list {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  font-style: normal;
  gap: 40px;
}

.contact-link {
  text-decoration: none;
  color: #434455;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.main-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  padding: 188px 477px;
  background-color: #2e2f42;
  color: white;
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-top: 48px;
  background-color: #4d5ae5;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.benefits {
  display: flex;
  justify-content: center;
  padding: 120px 0;
}

.benefits .container {
  display: flex;
  flex-direction: row;
}

.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.benefits-list-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  gap: 16px;
}

.benefits-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  gap: 8px;
}

.benefits-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 8px;
  text-align: left;
  padding: 0px;
}

.team {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  background-color: #f4f4fd;
}

.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: white;
}

.team-list-container {
  background-color: white;
}

.card-foto {
  margin-bottom: 32px;
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.benefits-descr,
.portfolio-item-descr,
.footer-page-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.member-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 32px;
}

.portfolio {
  padding: 120px 0;
  display: flex;
  justify-content: center;
}

.portfolio .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid #e7e9fc;
  width: 360px;
}

.portfolio-item-title {
  margin-top: 32px;
  margin-left: 16px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-item-descr {
  margin-bottom: 32px;
  margin-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.footer-page {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-page .container {
  width: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.footer-page .logo {
  color: #f4f4fd;
  margin: 0;
}

.footer-page-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}